/**
* @Author: Awan Tengah
* @Date:   2017-02-03T13:38:14+07:00
* @Last modified by:   Awan Tengah
* @Last modified time: 2017-02-06T18:48:39+07:00
*/



.table > thead:first-child > tr:first-child > th {
    cursor: pointer;
}

.st-sort-ascent:before {
    content: '\25B2';
}

.st-sort-descent:before {
    content: '\25BC';
}

.ng-isolate-scope {
    text-align: left;
}

.box {
    /*min-height: 513px;*/
}

.th-top {
    vertical-align: middle !important;
    text-align: center;
}

.td-action {
    text-align: center;
    min-width: 80px;
}

.ul-action {
    min-width: 50px;
}

.attachment-block {
    display: inline-block;
}

.btn-group {
    width: 100px;
}
